.login-button {
    float: right;
} 

.login-card {
    width: 280px;
    padding: 32px 64px 32px 64px;
    margin: auto;
    text-align: left;
}

.red{
    color: red;
}

.dispNone{
    display : none; 
}

.dispBlock{
    display: block;
}

.tabs {
    display :flex;

    margin-bottom: 20px;
    

}

