.app-header {
    display: flex;
    flex-direction: row;
    background-color: #263238;
    height: 50px;
    color: #fff;   
   
}

.title{
    margin : 12px;
}

.searchBox {
    height: 30px;
    border-radius: 4px;
    width: 300px;
    float: left;
    background-color: #c0c0c0;
    margin: 10px;
    margin-left: 1350px;
}

.app-pic {
    margin-left: auto;
    
 }

 .avatar {
    margin-left: auto;
}

 .menu-appbar {
    margin-left: auto;
    
 }


.app-logo {
    color: #fff;
    font-size: 18px;

}

.searchText{
    padding-bottom: 0px;
}

.formControl {
    width: 150px;
     height: 30px;
}
